@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-primary: #F8F9FE;
  --bg-green: #00A0AA;
  --input-gray-100: #d9d9d9;
  --input-gray-200: #979797;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}